---
import catboiImg from '../assets/catboi.png'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Blaawg</title>
  </head>
  <body>
    <h1>Dear diary</h1>
    <p>I love my cat son</p>
    <a href="/">Home</a>
    <a href="/catboi/">Catboi</a>
    <a href="/blog/">Blog</a>
  </body>
</html>