---
import NavLinks from '../components/NavLinks.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Blaawg</title>
  </head>
  <body>
    <NavLinks />
    <h1>Dear Diary, here is My Super Cool Blog™</h1>
    <p>This is where I will post about my wacky little days.</p>
    <ul>
      <li><button><a href="/posts/post-1/">Post 1</a></button></li>
      <li><button><a href="/posts/post-2/">Post 2</a></button></li>
      <li><button><a href="/posts/post-3/">Post 3</a></button></li>
    </ul>
  </body>
  <style>
    button {
      background-color: #E8C1C5;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #D499B9;
        a {
          color: #2E294E;
        }
      }
      a {
        text-decoration: none;
        color: #9055A2;
        font-weight: bold;
      }
    }

    li {
      padding: 8px;
    }
  </style>
</html>