---
import catboiImg from '../assets/catboi.png';
import NavLinks from '../components/NavLinks.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Hell yeah</title>
  </head>
  <body>
    <NavLinks />
    <h1>Catboi is handsome</h1>
    <img id="catboi" src={catboiImg.src} alt="Catboi" />
    <Footer />
  </body>
</html>