---
import catboiImg from '../assets/catboi.png'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Hell yeah</title>
  </head>
  <body>
    <h1>Catboi is handsome</h1>
    <img id="catboi" src={catboiImg.src} alt="Catboi" />
    <a href="/">Home</a>
    <a href="/catboi/">Catboi</a>
    <a href="/blog/">Blog</a>
  </body>
</html>