html {
  background: linear-gradient(#9055A2, #E8C1C5);
  min-height: 100vh;
  background-attachment: fixed;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100vw;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color: #2E294E;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

#color-def-storage {
  color: #011638;
  color: #2E294E;
  color:#9055A2;
  color: #D499B9;
  color: #E8C1C5;
}

/* nav styles */

.menu {
  background-color: #D499B9;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px;
}

.menu:hover {
  background-color: #E8C1C5;
  cursor: pointer;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0d0950;
  background-color: #D499B9;
  margin: 4px;
  border-radius: 16px;
}

.nav-links a:hover {
    color: #9055A2;
    background-color: #E8C1C5;
    box-shadow: 0 0 10px #E8C1C5;
  }

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    text-transform: lowercase;
  }

  .nav-links a:hover {
    color: #9055A2;
    background-color: #E8C1C5;
    box-shadow: 0 0 10px #E8C1C5;
  }

  .menu {
    display: none;
  }
}
