
<div>
  <a href="/">Home</a>
  <a href="/catboi/">Catboi</a>
  <a href="/blog/">Blog</a>
  <a href="/about/">About</a>
</div>
<style>
  div {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: #E8C1C5;
    border-radius: 8px;
    margin-bottom: 24px;
  }
  
  a {
    text-decoration: none;
    color: #011638;
    font-weight: bold;
  }
  
  a:hover {
    color: #9055A2;
  }
</style>